.containerFooter {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    width: 100vw;
    height: 60px;
    box-shadow: 0px 4px 4px #000;
    color: #F9B234;
}